{% extends 'theme/base.html' %}
{% load static i18n %}

{% block full_title %}STRV.social{% endblock %}

{% block content %}
    <div class="flex justify-around p-12 flex-wrap-reverse gap-y-10">
        <div>
            {% for item in content %}
                {% include 'core/includes/content-card.html' %}
                {% include 'core/includes/content-card.html' %}
                {% include 'core/includes/content-card.html' %}
            {% endfor %}
        </div>
        <div class="w-full max-w-[500px]">
            <ul class="list bg-base-100 rounded-box shadow-md">

                <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">{% trans "Suggested for you" %}</li>

                {% for user in users %}
                    {% include 'core/includes/user-card.html' %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
