@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
html {
    @apply scroll-smooth;
}

/* Typography */

@layer base {
    @font-face {
        font-family: 'InterVariable';
        font-style: normal;
        font-display: swap;
        src: url(/static/core/webfonts/InterVariable.woff2) format('opentype');
    }
    @font-face {
        font-family: 'InterVariable';
        font-style: italic;
        font-display: swap;
        src: url(/static/core/webfonts/InterVariable-Italic.woff2) format('opentype');
    }
}

/* Forms */

textarea {
    @apply p-3;
}