<div class="card bg-base-200 w-full max-w-[500px] shadow-sm mb-14">
    <figure>
        <img
          src="{{ item.media_file.url }}"
          alt="Shoes"/>
    </figure>
    <div class="card-body">
        <h2 class="card-title mb-4">
            <img class="size-7 rounded-box" src="{{ user.get_avatar_url }}"/>
            {{ item.user.username }}
        </h2>
        <h2 class="card-title">
            {{ item.title }}
        </h2>
        <p>{{ item.description }}</p>
        <div class="card-actions justify-end">
            <div class="badge badge-outline">{{ item.media_type|capfirst }}</div>
        </div>
    </div>
</div>