{% load i18n %}
<a href="{{ post.get_absolute_url }}">
    <div class="card bg-base-200 w-full max-w-[500px] shadow-sm mb-14 hover:scale-105 transition-all {{ card_class }}">
            <figure class="max-h-44 {{ figure_class }}">
                {% if post.media_file and post.media_type == "image" or post.media_type == "gif" %}
                    <img
                      src="{{ post.media_file.url }}"
                      class="w-full h-full object-cover"
                      alt="Media Content"/>
                {% elif post.media_file and post.media_type == "audio" %}
                    <div class="p-8">
                        <audio controls>
                            <source src="{{ post.media_file.url }}" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                {% elif post.media_file and post.media_type == "video" %}
                    <video controls>
                        <source src="{{ post.media_file.url }}" type="video/mp4">
                        Your browser does not support the video element.
                    </video>
                {% elif post.media_type == "text" %}
                    <div class="p-8 bg-base-300 rounded-lg">
                        <p class="text-gray-700">{{ post.text_content|truncatewords:20 }}</p>
                    </div>
                {% endif %}
            </figure>
        <div class="card-body">
            <h2 class="card-title mb-4">
                <img class="size-7 rounded-box" src="{{ profile.get_avatar_url }}"/>
                {{ profile.username }}
            </h2>
            <h2 class="card-title">
                {{ post.title }}
            </h2>
            <p>{{ post.description }}</p>
            <div class="card-actions justify-end">
                <div class="badge badge-accent">{{ post.media_type|capfirst }}</div>
                {% if similar %}
                    <div class="tooltip">
                        <div class="tooltip-content text-start">
                            {% trans "Similar to" %}:
                            <ul>
                                {% for post in similar %}
                                    <li>{{ post.title }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="badge badge-outline">
                            {{ similar.0.title }}
                            {% if similar.1 %}
                                + {{ similar|length|add:-1 }}
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</a>